<%- include("partials/header.ejs") %> 

<div class="flex flex-col justify-center items-center h-[100vh]">
    <img src="logo.png" class="h-16" />
    <div class="mt-[90px] flex flex-col md:flex-row gap-6">
        <a href="/auth/login" class="inline-block px-9 py-4 bg-teal-600 text-white font-medium text-xl shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-800 active:shadow-lg transition duration-150 ease-in-out rounded-full">Login To Access</a>
        <a href="/auth/register" class="inline-block px-9 py-4 bg-teal-600 text-white font-medium text-xl shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-800 active:shadow-lg transition duration-150 ease-in-out rounded-full">Register Now</a>
    </div>
</div>

<%- include("partials/footer.ejs") %> 